<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Quên mật khẩu</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <div class="col-md-6 offset-3">
                <div th:if="${param.error}" class="alert alert-danger">Email không tồn tại!</div>
                <div th:if="${param.success}" class="alert alert-success">Link đổi mật khẩu đã được gửi đến email!</div>
                <form th:action="@{/auth/forgot-password}" method="post" th:object="${emailDTO}">
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label for="email">Nhập email tài khoản</label>
                        <input
                                type="email"
                                id="email"
                                class="form-control"
                                placeholder="Email"
                                name="email"
                                th:field="*{email}"
                        />
                        <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>
                        <button type="submit" class="btn btn-primary col my-4">Đổi mật khẩu tài khoản</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main>

</body>
</html>