<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Register</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div th:if="${param.fail}" class="alert alert-danger">Username hoắc email đã tồn tại!</div>
                    <div th:if="${param.authen}" class="alert alert-warning">Xác nhận email để kích hoạt tài khoản!</div>
                    <div th:if="${passwordError}" class="text-danger" th:text="${passwordError}"></div>
                        <form role="form" method="post" th:action="@{/auth/register}" th:object="${request}">
                        <!-- Email input -->
                            <div class="row">
                                <div class="col-md-6 form-outline mb-4">
                                    <label for="firstName"> FirstName *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="firstName"
                                            name="firstName"
                                            th:field="*{firstName}"
                                            placeholder="FirstName"
                                    />
                                    <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}">
                                </div>
                                <div class="col-md-6 form-outline mb-4">
                                    <label for="lastName"> LastName *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="lastName"
                                            name="lastName"
                                            th:field="*{lastName}"
                                            placeholder="Lastname"/>
                                    <p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}">
                                </div>
                            </div>
                        <div class="form-outline mb-4">
                            <label for="email"> Email *</label>
                            <input
                                    type="email"
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    th:field="*{email}"
                                    placeholder="Email address"/>
                            <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}">
                        </div>
                        <!--                        Username input-->
                        <div class="form-outline mb-4">
                            <label for="username"> Username *</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="username"
                                    name="username"
                                    th:field="*{username}"
                                    placeholder="Username"
                            />
                            <p th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username} ">
                        </div>
                        <!-- Password input -->
                        <div class="row">
                            <div class="col-md-6 form-outline mb-4">
                                <label for="password"> Password *</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="password"
                                        name="password"
                                        th:field="*{password}"
                                        placeholder="Password"
                                />
                                <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}">
                            </div>
                            <div class="col-md-6 form-outline mb-4">
                                <label for="repeatPassword"> Repeat password *</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="repeatPassword"
                                        name="repeatPassword"
                                        th:field="*{repeatPassword}"
                                        placeholder="Repeat Password"/>
                                <p th:if="${#fields.hasErrors('repeatPassword')}" class="text-danger" th:errors="*{repeatPassword}">
                            </div>
                        </div>
                        <!-- Submit button -->
                        <div class="row justify-content-center">
                            <button type="submit"  class="btn btn-primary">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

</body>
</html>