<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Admin news</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-3">
        <!-- Page content-->
        <div class="container">
            <div class="row ">
                <!-- Blog entries-->
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">DANH SÁCH TIN TỨC</h2>
                </div>
                <!-- Nested row for non-featured blog posts-->
                <div class="row gx-5 mx-3 mb-4">
                    <div class="table-responsive ">
                        <table class="table table-bordered mb-0">
                            <thead class="small text-uppercase bg-body text-muted thead-dark">
                            <tr>
                                <th>Title</th>
                                <th>Category</th>
                                <th>User</th>
                                <th>Action</th>
                                <th>Option</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="align-middle" th:each="newsAc : ${news}">
                                <td th:text="${newsAc.title}"></td>
                                <td th:text="${newsAc.categoryName}"></td>
                                <td th:text="${newsAc.user.firstName+' ' + newsAc.user.lastName}"></td>
                                <td><a th:href="@{/admin/news/manage/{id}(id = ${newsAc.id})}">Review</a></td>
                                <td><a th:href="@{/admin/news/delete/{id}(id = ${newsAc.id})}"><i class="fas fa-trash-alt mx-4"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <nav>
                        <ul class="pagination justify-content-center flex-wrap">
                            <li th:class="${pageNumber > 0 ? 'page-item':'page-item disabled'}">
                                <a th:href="@{/admin/news}" class="page-link">First</a>
                            </li>
                            <li th:class="${pageNumber > 0 ? 'page-item':'page-item disabled'}">
                                <a th:href="@{/admin/news(pageNumber=${pageNumber - 1})}" class="page-link">Previous</a>
                            </li>
                            <li th:each="i: ${#numbers.sequence(0, totalPages - 1)}" th:class="${pageNumber != i ? 'page-item':'page-item disabled'}">
                                <a th:href="@{/admin/news(pageNumber=${i})}" class="page-link">[[${i + 1}]]</a>
                            </li>
                            <li th:class="${pageNumber < totalPages - 1 ? 'page-item':'page-item disabled'}">
                                <a th:href="@{/admin/news(pageNumber=${pageNumber + 1})}" class="page-link">Next</a>
                            </li>
                            <li th:class="${pageNumber < totalPages - 1 ? 'page-item':'page-item disabled'}">
                                <a th:href="@{/admin/news(pageNumber=${totalPages - 1})}" class="page-link">Last</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->

            </div>
        </div>
    </section>

</main>

</body>
</html>