<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Admin users</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-3">
        <!-- Page content-->
        <div class="container">
            <div class="row ">
                <!-- Blog entries-->
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">DANH SÁCH TÀI KHOẢN</h2>
                </div>
                <!-- Nested row for non-featured blog posts-->
                <div class="row gx-5 mx-3 mb-4">
                    <div class="table-responsive ">
                        <table class="table table-bordered mb-0">
                            <thead class="small text-uppercase bg-body text-muted thead-dark">
                            <tr>
                                <th>Photo</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Option</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="align-middle" th:each="user : ${users}">
                                <td><img th:if="${user.photoUrl != null}" th:src="${user.photoUrl}" alt="" style="height: 25px; width: 25px">
                                    <span th:if="${user.photoUrl == null}" class="fas fa-user"></span>
                                </td>
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.role}"></td>
                                <td>
                                    <a th:href="@{/admin/users/{id}(id = ${user.id})}">
                                        <i class="fas fa-trash-alt mx-4"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

</body>
</html>