<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Edit news</title>
</head>
<body class="d-flex flex-column ">
    <section layout:fragment="body" class="py-5">
        <div class="row mb-5 stick">
            <div class="col-md-9">
                <div class="row mx-3 d-flex ">
                    <div class="col mt-3 d-flex justify-content-center align-items-center">
                        <a th:href="@{/templates/news}"><i class="fas fa-home"></i></a>
                    </div>
                    <div class="col mt-3">
                        <a th:href="@{/news/category/{category}(category = ${'THE-THAO'})}">Thể thao</a>
                    </div>
                    <div class="col mt-3">
                        <a th:href="@{/news/category/{category}(category = ${'CHINH-TRI'})}">Chính trị</a>
                    </div>
                    <div class="col mt-3">
                        <a th:href="@{/news/category/{category}(category = ${'THE-GIOI'})}">Thế giới</a>
                    </div>
                    <div class="col mt-3">
                        <a th:href="@{/news/category/{category}(category = ${'GIAI-TRI'})}">Giải trí</a>
                    </div>
                    <div class="col mt-3">
                        <a th:href="@{/news/category/{category}(category = ${'GOC-NHIN'})}">Góc nhìn</a>
                    </div>
                    <div class="col mt-3">
                        <a th:href="@{/news/category/{category}(category = ${'SUC-KHOE'})}">Sức khỏe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <form th:action="@{/news/search}" class=" mt-2" >
                        <div class="input-group">
                            <input name="query" class="form-control " type="text" placeholder="Seach" aria-label="Search"/>
                            <button class="btn btn-primary" id="button-search" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <header class="py-3 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" th:text="${newsDTO.title}"></h1>
                    <p class="lead mb-0" th:text="${newsDTO.shortDescription}"></p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card">
                        <a href="#!"><img class="card-img-top" th:src="${newsDTO.thumbnail}" alt="..." /></a>
                        <div class="card-body col-md-12 mb-4">
                            <div class="small text-muted" th:text="${newsDTO.createdDate}"></div>
                            <h2 class="card-title" th:text="${newsDTO.title}"></h2>
                            <p class="card-text" th:utext="${newsDTO.shortDescription}"></p>
                        </div>
                    </div>
                    <div class="mx-3">
                        <p th:utext="${newsDTO.content}">
                    </div>
                    <div class="container bg-comment content">
                        <h3 class="mb3">Comment</h3>
                        <div class="row mb-3">
                            <form role="form" method="post" th:action="@{/news/{id}(id = ${newsDTO.id})}" th:object="${comment}" class="form-inline">
                                <textarea class="form-control col-md-8" id="commentContent" name="commentContent" th:field="*{content}" placeholder="Comment here"></textarea>
                                <button type="submit" class="btn btn-primary offset-2">Submit</button>
                            </form>
                        </div>
                        <div th:each="commentItem : ${comments}" >
                            <div class="mb-3">
                                <div class="inline-flex">
                                    <img th:src="${commentItem.userDTO.photoUrl}" alt="" style="width: 30px; height: 30px"><strong th:text="${commentItem.userDTO.firstName + ' ' + commentItem.userDTO.lastName}"></strong>
                                </div>
                                <p th:text="${commentItem.content}"></p>
                                <div th:if="${commentItem.userDTO.id} == ${user.id}">
                                    <a class="btn btn-sm btn-primary" th:href="@{/comment/{id}(id=${commentItem.id})}">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>