<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Register</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div th:if="${param.failOld}" class="text-danger" >Mật khẩu cũ không đúng</div>
                    <div th:if="${param.failNew}" class="text-danger" >Mật khẩu lặp lại không khớp</div>
                    <div th:if="${param.failRepeat}" class="text-danger" >Mật khẩu cũ trùng với mật khẩu mới</div>
                    <form role="form" method="post" th:action="@{/user/change-password}" th:object="${passwordChange}">
                        <div class="row">
                            <div class="col form-outline mb-4">
                                <label for="oldPassword"> Mật khẩu cũ *</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="oldPassword"
                                        name="oldPassword"
                                        th:field="*{oldPassword}"
                                        placeholder="OldPassword"
                                />
                                <p th:if="${#fields.hasErrors('oldPassword')}" class="text-danger" th:errors="*{oldPassword}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-outline mb-4">
                                <label for="newPassword"> Mật khẩu mới *</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="newPassword"
                                        name="newPassword"
                                        th:field="*{newPassword}"
                                        placeholder="New Password"/>
                                <p th:if="${#fields.hasErrors('newPassword')}" class="text-danger" th:errors="*{newPassword}">
                            </div>
                            <div class="col-md-6 form-outline mb-4">
                                <label for="repeatNewsPassword"> Lặp lại mật khẩu mới *</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="repeatNewsPassword"
                                        name="repeatNewsPassword"
                                        th:field="*{repeatNewsPassword}"
                                        placeholder="Repeat New Password"/>
                                <p th:if="${#fields.hasErrors('repeatNewsPassword')}" class="text-danger" th:errors="*{repeatNewsPassword}">
                            </div>
                        </div>
                        <!-- Submit button -->
                        <div class="row justify-content-center">
                            <button type="submit"  class="btn btn-primary">Đổi mật khẩu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

</body>
</html>