.bg-red {
    background-color: #bb2d3b;
}

.default-image {
    width: 130px;
    height: 130px;
}

.card-body {
    width: 300px;
    height: 200px;
}

.custom-card {
    width: 200px;
    height: 100px;
}

.card-text-min {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bg-comment {
    background-color: rgb(252, 250, 246);
}

.stick {
    position: sticky;
    top: 0; /* Chỉ định vị trí top */
    background-color: lightyellow; /* Màu nền */
    z-index: 1000;
    border: 1px solid transparent; /* Đặt viền ban đầu là trong suốt */
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* Gradient từ màu đen đậm đến trong suốt */
    border-image-slice: 1; /* Cắt gradient */
}