<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Create news</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form role="form" method="post" th:action="@{/api/news/create}" th:object="${newsDTO}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Title</label>
                        <input
                                type="text"
                                class="form-control"
                                id="title"
                                name="title"
                                th:field="*{title}"
                                placeholder="Title">
                        <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="thumbnail">Thumbnail</label>
                        <input
                                type="text"
                                class="form-control"
                                id="thumbnail"
                                name="thumbnail"
                                th:field="*{thumbnail}"
                                placeholder="Thumbnail">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="shortDescription">Short Description</label>
                        <input
                                type="text"
                                class="form-control"
                                id="shortDescription"
                                name="shortDescription"
                                th:field="*{shortDescription}"
                                placeholder="Short Description">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="content">Content</label>
                    <input
                            type="text"
                            class="form-control"
                            id="content"
                            name="content"
                            th:field="*{content}"
                            placeholder="Content">
                    <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </section>

</main>

</body>
</html>