<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Login</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Page title -->
                    <div class="my-5">
                        <h3>My Profile</h3>
                        <hr>
                    </div>
                    <!-- Form START -->
                    <div th:if="${param.success}" class="alert alert-success">Update success</div>
                    <form role="form" method="post" th:action="@{/user}" th:object="${userEdit}" enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}">
                        <div class="row mb-5 gx-5">
                            <!-- Contact detail -->
                            <div class="col-xxl-8 mb-5 mb-xxl-0">
                                <div class="bg-secondary-soft px-4 py-5 rounded">
                                    <div class="row g-3">
                                        <h4 class="mb-4 mt-0">Contact detail</h4>
                                        <!-- First Name -->
                                        <div class="col-md-6">
                                            <label class="form-label">First Name *</label>
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="firstName"
                                                    name="firstName"
                                                    th:field="*{firstName}"
                                                    placeholder="First name"
                                            >
                                            <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}">
                                        </div>
                                        <!-- Last name -->
                                        <div class="col-md-6">
                                            <label class="form-label">Last Name *</label>
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="lastName"
                                                    name="lastName"
                                                    th:field="*{lastName}"
                                                    placeholder="last name"
                                            >
                                            <p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}">
                                        </div>
                                        <!-- Email -->
                                        <div class="col-md-6">
                                            <label class="form-label">Email *</label>
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="email"
                                                    name="email"
                                                    th:field="*{email}"
                                                    placeholder="Email"
                                                    readonly
                                            >
                                            <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}">
                                        </div>
                                    </div> <!-- Row END -->
                                </div>
                            </div>
                            <!-- Upload profile -->
                            <div class="col-xxl-4">
                                <div class="bg-secondary-soft px-4 py-5 rounded">
                                    <div class="row g-3">
                                        <h4 class="mb-4 mt-0">Upload your profile photo</h4>
                                        <div class="text-center">
                                            <!-- Image upload -->
                                            <div class="square position-relative display-2 mb-3">
                                                <i th:if="${userEdit.photoUrl == null}" class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                                                <img th:if="${userEdit.photoUrl != null}" th:src="${userEdit.photoUrl}" alt="" style="width: 300px; height: 300px;">
                                            </div>
                                            <!-- Content -->
                                        </div>
                                        <p class="text-muted mt-3 mb-0 text-center my-5"><span class="me-1">Note:</span>Minimum size 300px x 300px</p>
                                        <input type="file" id="file" name="file" class="offset-4" th:field="*{photo}" accept="image/png, image/jpg">
                                    </div>
                                </div>
                            </div>
                        </div> <!-- Row END -->

                        <!-- button -->
                        <div class="gap-3 d-md-flex justify-content-md-end text-center">
                            <button type="submit" class="btn btn-primary">Update profile</button>
                        </div>
                    </form> <!-- Form END -->
                </div>
            </div>
        </div>
    </section>

</main>

</body>
</html>